
body {
    background-color: #b3cdc2;
    color: #1d1a16;
    font-family: 'Barlow Condensed', sans-serif;
    padding: 20px;
    line-height: 1.6;
}

header h1, header h2 {
    text-transform: lowercase;
    text-align: center;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 300;
    font-style: normal;
}

#token-address {
    margin: 20px auto;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
}

.image-container img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.social-icons a img {
    width: 50px;
    height: 50px;
}

.manifesto {
    margin-top: 30px;
    padding: 20px;
    text-align: center;
    font-style: italic;
}